vti_encoding:SR|utf8-nl
vti_webservertype:SR|diskweb
vti_restartmanual:IX|0
vti_defaultlanguage:SR|zh-cn
vti_textextensions:SX|.txt.
vti_timecreated:TR|21 Oct 2000 14:04:33 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_copytimestamp_file\:///C\:/Downloads/C\:/Downloads:TR|06 Jan 2002 06:19:17 -0000
vti_navbuttonnextlabel:SR|下一页
vti_textindexood:IR|0
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_casesensitiveurls:IX|0
vti_themedefault:SR|-1 111
vti_approvallevels:VR|内容检查 合法检查 代码检查 经理评估
vti_borderdefault:SR|none
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_hassearchbot:BR|false
vti_structto_localhost\\c\:\\documents and settings\\administrator\\桌面\\新建文件夹/c\:/documents and settings/administrator/桌面/新建文件夹:TR|03 Jan 2001 13:56:24 -0000
vti_copytimestamp_file\:///C\:/Documents and Settings/王晓晖/My Documents/My Web Sites/mysite:TR|30 Oct 2005 14:13:36 -0000
vti_copytimestamp_ftp\://go3.icpcn.com:TR|23 Jun 2006 12:08:31 -0000
vti_copytimestamp_ftp\://weiqi365.xinwen520.net:TR|14 Jun 2008 15:54:24 -0000
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|旅行 费用报表 商务 竞争 目的/目标 主意 杂项 等待 VIP 处理中 计划 日程表
vti_insecureserverurl:SR|file://
vti_missingoverlaylabels:VX|
vti_structto_localhost\\c\:\\downloads/c\:/downloads:TR|06 Jan 2002 04:11:50 -0000
vti_defaultcharset:SR|gb2312
vti_autorecalc:IX|1
vti_copytimestamp_file\:///C\:/Documents and Settings/Administrator/桌面/新建文件夹/C\:/Documents and Settings/Administrator/桌面/新建文件夹:TR|03 Jan 2001 14:20:44 -0000
vti_httpdversion:SX|FrontPage DBW
vti_navbuttonuplabel:SR|上一层
vti_structto_localhost\\c\:\\documents and settings\\王晓晖\\my documents\\my web sites\\mysite/c\:/documents and settings/王晓晖/my documents/my web sites/mysite:TR|30 Oct 2005 03:14:16 -0000
vti_extenderversion:SR|6.0.2.6551
vti_navbuttonprevlabel:SR|上一页
vti_longfilenames:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_ignorekeyboard:IR|1
vti_htmloptimization:IW|0
vti_dependenciesood:IR|1
vti_navbuttonhomelabel:SR|主页
vti_copytimestamp_ftp\://weiqi.51.net/public_html:TR|03 Apr 2005 10:47:37 -0000
vti_copytimestamp_ftp\://61.147.118.228:TR|27 Jan 2009 17:25:09 -0000
vti_missingoverlays:VX|
